<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <a href="/home" style="margin: 10px">Home</a>
      <a href="/about" style="margin: 10px">About</a>
      <a href="/signup" style="margin: 10px">Sign-up</a>
      <a href="/login" style="margin: 10px">Sign-in</a>
    </div>
    <h1>Hi, This is the home page of {{name}}</h1>
  </body>
</html>
