<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hi {{firstName}} {{lastName}} you are logged in!</h1>
    <p>
      You can update your profile here :-
      <a href="/updateUser">Update My Profile</a>
    </p>
    <p>
      You can delete your profile here :-
      <a href="/deleteUser">Delete My Profile</a>
    </p>
    <p>You can Logout :- <a href="/home">Home</a></p>
  </body>
</html>
